@font-face {
  font-family: "Linux Libertine";
  src: url("lin-libertine-min.eot");
  src: local("Linux Libertine"),url("lin-libertine-min.ttf")
}
body {
  font-family: "Linux Libertine",Gentium,"Book Antiqua",Cambria,Palatino,Georgia,"Times New Roman",serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Header */
#header {
  line-height: 25px;
}
img.icon {
  float: left;
  height: 16px;
  width: 16px;
  padding-top: 3px;
}

img.inline-icon {
  height: 16px;
  width: 16px;
  vertical-align: text-top;
}
div.sitelink {
  padding: 0 0 0 23px;
}
div.sitelink a {
  display: block;
}

a#square {
  color: #333;
  font-family: sans-serif;
}

/* Headers */
h1,h2,h3,h4,h5,h6 {
  color: #966;
  padding: 0 5px;
  background-color: #FAFAFA;
  border-top:    1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

/* Essays */
div#post p {
  font-size: 15pt;
}
/* Home Page */
ul.writing {
  padding: 0;
  margin: 0;
}
ul.writing li {
  list-style: none;
  margin-left: 40px;
  font-size: 22px;
}
div#rumi {
  font-size: 1.1em;
}
div#rumi p:first-letter{
  font-size: 1.5em;
  font-weight: bold;
}
ul#repos {
  float: left;
  margin: 0;
  padding: 0;
}
ul#repos li {
  list-style: none;
  float: left;
  padding-bottom: 0.75em;
  margin-right: 10px;
  width: 180px;
}
ul#repos li a {
  /* font-family: Monaco, Palatino, "Book Antiqua", sans-serif; */
  font-family: "raleway-1","raleway-2",sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEA)) 30;
  background: -moz-linear-gradient(top, #EEC, #DDA 50%, #DDA 50%, #DDA 100%);
  display: block;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #CCC;
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize; 
  color: #333;
}
#youtube {
  position: absolute;
  right: 1em;
  bottom: 3em;
  font-size: 0.8em;
}
#youtube a {
  color: #666;
}
